@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

html, body {
  height: 100%; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  margin: 0;
  padding: 0;
  padding-top: 100px; 
  box-sizing: border-box;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  color: #7D3C98;
  font-size: 3rem;
  margin-top: 20px; /* Add some space on the top */
  padding-bottom: 40px;
}

.reset-password-container {
  max-width: 400px;
  width: 100%;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px 0; /* Space between form and logo */
}

.reset-password-container h2 {
    font-size: 1.8rem;
    color: #7D3C98;
    margin-bottom: 10px;
}

.reset-password-container p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 20px;
}

.form-group {
    position: relative;
    margin-bottom: 25px;
}

.form-group label {
    display: block;
    color: #000;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
}

.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.form-group i.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(50%);
  color: #ccc;
  cursor: pointer;
  z-index: 2; 
}

.form-group input[type="password"] {
  width: calc(100% - 30px); 
  padding-right: 30px; 

}
.form-group input[type="password"]:focus, 
.form-group input[type="text"]:focus {
  outline: none; 
}
.form-group input[type="password"]:active, 
.form-group input[type="text"]:active {
  border: 1px solid #ddd; 
}

.fa-eye {
  cursor: pointer;
}

.fa-eye-slash {
  cursor: pointer;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    background-color: #ff4081;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #e5376a;
}

.powered-by {
  background-image: url('logo2.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 193px;
  height: 41px;
  margin: 20px 0; /* Space between logo and the form */
}

.form-group.terms label {
    display: inline-block;
    font-size: 0.9rem;
    color: #666;
    cursor: pointer;
    user-select: none;
}

.form-group.terms input[type="checkbox"] {
    vertical-align: middle;
    margin-right: 10px;
    cursor: pointer;
}

.form-group.terms label span {
    color: #ff4081;
    text-decoration: underline;
}

@media (max-width: 450px) {
  body {
    padding-top: 20px; 
  }
  h1 {
    font-size: 2rem;
  }
  
  .reset-password-container {
    padding: 20px;
  }

  .form-group label {
    margin-bottom: 5px;
  }
  
  .form-group input[type="password"], 
  .form-group input[type="checkbox"] {
    font-size: 0.9rem;
  }

  .form-group.terms label {
    font-size: 0.8rem;
  }

  button[type="submit"] {
    padding: 10px;
  }
  
}

body::after {
  content: '';
  display: block;
  height: 50px; 
  background-color: #f9f9f9;
}

