<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domovská stránka</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<body>
    <header class="header">
        <a href="#" class="logo">
            <img src="https://media.licdn.com/dms/image/C4D0BAQEIK4Ko8gTPUw/company-logo_200_200/0/1673468657528?e=2147483647&v=beta&t=K-az-0d4nQD_3VXoSfVch1TuONdZ0h05tualzdMoiE8" alt="Logo spoločnosti">
        </a>
        <nav class="nav-items">
          <a href="#">Domov</a>
          <a href="#">Návody</a>
          <a href="#">Zoznam pamiatok</a>
          <a href="#home">Informácie o firme</a>
        </nav>
        <a routerLink="/login" class="login">
          <span class="icon">👤</span>
          Prihlásiť sa
        </a>
        
      </header>

   <main>
    <div class="intro">
      <h1>AR budúcnosť mesta</h1>
      <p>Prinášame vám svet zajtrajška už dnes.</p>
      <button>Zistiť viac</button>
    </div>
    <div class="achievements">
      <div class="work">
        <img src="https://thumbs.dreamstime.com/b/project-management-icon-to-do-list-symbol-white-background-checklist-cog-flat-style-simple-abstract-plan-black-vector-158948149.jpg" alt="Project" style="width:50px; height:50px;">
        <p class="work-heading">Projekty</p>
        <p class="work-text">Ponúkame vám možnosť zúčastniť sa vo výbere budúcnosti vzhľadu Košíc, tak neváhajte a hlasujte, ako bude vaše mesto vyzerať.</p>
        <button>Zistiť viac</button>
      </div>
      <div class="work">
        <img src="https://cdn-icons-png.flaticon.com/512/7214/7214063.png" alt="AR" style="width:50px; height:50px;">
        <p class="work-heading">AR</p>
        <p class="work-text">Augmented reality alebo inak rozšírená realita. Ide o technológiu, ktorá kombinuje digitálny obsah s reálnym svetom v reálnom čase. AR zobrazuje fyzický svet, ale obohacuje ho o digitálne informácie, objekty alebo vizuálne prvky.</p>
        <button>Zistiť viac</button>  
    </div>
      <div class="work">
        <img src="https://cdn-icons-png.flaticon.com/512/1369/1369288.png" alt="Creators" style="width:50px; height:50px;">
        <p class="work-heading">Tvorcovia</p>
        <p class="work-text">Projekt vytvorila spoločnosť CherryPeak v spolupráci so spoločnosťou CIKA a scram tímom študentov z Technickej univerzity v Košiciach.</p>
        <button>Zistiť viac</button>
    </div>
    </div>
  </main>
   
  <footer class="footer">
    <div class="footer-content">
        <h3>AR BUDÚCNOSŤ MESTA</h3>
        <p>Ar budúcnosť mesta je webová aplikácia, ktorej cieľom je zobraziť budovy a objekty, ktoré by sa mohli postaviť v budúcnosti, ešte predtým, než ich uvidíte na vlastné oči.</p>        
        <ul class="socials">
            <li><a href="https://www.facebook.com/CherryPeakEU/"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/cherrypeak_eu/"><i class="fab fa-instagram"></i></a></li>
            <li><a href="mailto: info@cherrypeak.eu"><i class="fas fa-envelope"></i></a></li>
        </ul>
        <div class="footer-menu">
            <ul class="f-menu">
               <li><a href="#">Domov</a></li>
               <li><a href="https://cherrypeak.eu/aboutUs">O nás</a></li>
               <li><a href="#">Kontakt</a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            &copy; Vytvorila spoločnosť <strong>CherryPeak s.r.o, CIKA s.r.o</strong> & študenti TUKE ❤️
        </div>
    </div>
</footer>

</body>
</html>
